body {
    background-color: lightblue;
    padding: 10px;
    font-family: DejaVu Sans;
}

h1 {
    color: navy;
    margin-left: 10px;
    position: center;
}

div {
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 10px;
    position: center;
    width: auto;
}

p {
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    width: auto;
}

div > p {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
    width: 50%;

}
a {
    color: peru;
}
